<html>
    <head>
        <title>House prices</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="js/housescript.js"></script>

    </head>

    <body>
        <div class="container-fluid">
            <div ng-app = "mainApp" ng-controller = "houseController">
                <div class="row">
                    <div class="col-sm-2"></div>

                    <div class="col-sm-8">

                        <div class="jumbotron" id="jumbo">
                            <h1>Gemiddelde huizenprijzen per postcode</h1>
                        </div>

                        <form name="postCodeForm">
                            <div class="form-group">
                                <label for="postCodeInputId">Postcode (alleen de 4 cijfers)</label>
                                <input type="text" class="form-control" name="postCodeInputName" ng-pattern="/^[0-9]+$/" id="postCodeInputId" ng-model="postCodeToUse">
                            </div>

                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-2 pt-0">Periode</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="12months" ng-model="radioButtonValue">
                                            <label class="form-check-label active" for="gridRadios1">
                                                Afgelopen 12 maanden
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="6months" ng-model="radioButtonValue">
                                            <label class="form-check-label" for="gridRadios2">
                                                Afgelopen 6 maanden
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <button class="btn btn-primary btn-lg btn-block" ng-click="getPostCodeData()" ng-disabled="postCodeToUse.length !== 4 || postCodeForm.postCodeInputName.$error.pattern">Get info!</button>
                        </form>

                        <div ng-show=showPostCodeData>
                            <div class="row" id="headerTable">
                                <div class="col-sm-12">
                                    <div><center><strong>{{city}} - Postcode: {{requestedPostCode}}</strong></center></div>
                                </div>
                            </div>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Aantal huizen verkocht</td>
                                        <td>{{numberOfHouses}}</td>
                                    </tr>
                                    <tr>
                                        <td>Gemiddelde vraagprijs</td>
                                        <td>{{avPrice}}</td>
                                    </tr>
                                    <tr>
                                        <td>Gemiddelde vraagprijs per m2</td>
                                        <td>{{avPriceM2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Meest gebruikte makelaar</td>
                                        <td>{{makelaar}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </body>
</html>