<html>
    <head>
        <title>Insta Follower Growth</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="js/script.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            <div ng-app = "mainApp" ng-controller = "buzzwordsController">
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <button ng-click="makeScreenshot()">Make screenshot</button>
                        </div>
                        <div>
                            <input type="text" ng-model="dateToUse"><button ng-click="selectDate()">Select date</button>
                        </div>
                        <div>
                            <input type="text" ng-model="writtenDate">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <table class="table table-dark">
                            <thead class="thead" style="color:white; background-color:rgb(0, 0, 0)">
                                <tr>
                                    <th scope="col" width="112px"># <small><i><sub>{{writtenDate}}</sub></i></small>
                                    <th scope="col">Naam</th>
                                    <th scope="col">Aantal nieuwe volgers</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bnEr in bnData | orderBy: '-followerGrowth' track by $index">
                                    <td style="line-height: 0.6;">{{$index + 1}}</td>
                                    <td style="line-height: 0.6;">{{bnEr.name}}</td>
                                    <td style="line-height: 0.6;">{{bnEr.followerGrowth}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </body>

</html>