<head>
    <title>Huizenlijst</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/test.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/test.js"></script>

    <meta name="description" content="Advertentiebord.com - Het online prikbord van jouw supermarkt">
    <title>EIJE!</title>
</head>



<div ng-app = "mainApp" ng-controller="ContactListCtrl">

    <h1>Buurtprijzen</h1>

    <select ng-model="sortingOrder" ng-change="layoutDone(sortingOrder)">
        <option value="aantal">Aantal up</option>
        <option value="-aantal">Aantal down</option>
        <option value="prijs">Prijs down</option>
    </select>

    <table class="table contacts" ng-cloak>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Postcode</th>
                <th>Plaats</th>
                <th><a href="" ng-click="layoutDone2('prijs')"> Prijs {{price_arrow}}</a></th>
                <th><a href="" ng-click="layoutDone2('prijs_m2')">Prijs m2 {{price_m2_arrow}}</a></th>
                <th><a href="" ng-click="layoutDone2('aantal')">Transacties {{amount_arrow}}</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="buurt in alleBuurten" repeat-done="layoutDone(null)" >
                <td>{{$index + 1}}</td>
                <td>{{buurt.postcode}}</td>
                <td>{{buurt.plaats}}</td>
                <td>{{buurt.prijs}}</td>
                <td>{{buurt.prijs_m2}}</td>
                <td>{{buurt.aantal}}</td>
            </tr>
        </tbody>

    </table>
    <div id="veil" ng-show="isLoading"></div>
    <div id="feedLoading" ng-show="isLoading">Loading...</div>
</div>