#jumbo {
  text-align: center;
  padding: 21px;
  margin-bottom: 21px;
  background-image: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.85)), url("sitebackground.png");
  background-size: cover;
  filter: grayscale(100%);
}

#headerTable {
  margin-bottom: 16px;
}