.tablebackground {
    background-color:white;
}

.pagebackground {
    background-color:rgb(199, 234, 255);
}

.rowheight {
    height: 180px;
}

.datediv {
    height: 10px;
    text-align: center;
    font-size: large;
    font-style: oblique;
}

.buffer {
    height: 30px;
}